extends layout

block content
    .row
        .col-xs-12.col-sm-12.col-md-12
            iframe(style='width: 100%;height: 100vh;' src='http://localhost:5601/app/dashboards#/view/71edaa20-dacb-11ec-a202-51eaffdc6f4e?_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))' frameborder='1' )
