doctype html
html
  head
    title= title
    link(rel='canonical' href='https://getbootstrap.com/docs/5.2/examples/album/')
    link(href='../assets/dist/css/bootstrap.min.css' rel='stylesheet')
    script(src='../javascripts/bootstrap.bundle.min.js')
    style
      include style.css
      include bootstrap.min.css
  include header.pug
  body
    block content