extends layout

block content
    .container
        .card.m-5
            h5.card-header Add a new wine
            .card-body
                form.row.g-3(action='/newwine', method='POST', enctype='multipart/form-data')
                    .col-md-12
                        label.form-label(for='name') Nom
                        input.form-control(type='text', name='name', id='name')
                    .col-12
                        label.form-label(for='description') Description
                        input.form-control(type='text', name='description', id='description')
                    .col-md-6
                        label.form-label(for='country') Pays
                        input.form-control(type='text', name='country', id='country')
                    .col-md-4
                        label.form-label(for='region') Région
                        input.form-control(type='text', name='region', id='region')
                    .col-md-2
                        label.form-label(for='year') Année
                        input.form-control(type='text', name='year', id='year')
                    .text-center
                        button.btn.btn-primary(type='submit') Add
